
body {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.base {
  position: relative;
  width: 400px;
}

.game {
  font-size: 40px;
  font-weight: bold;
  width: 400px;
  height: 400px;
  margin-top: 15px;
  border-radius: 7px;
  border: solid 3px #bbada0;
  color: #776e65;
  background: #bbada0;
}

.game td {
  width: 25%;
  height: 25%;
  text-align: center;
  border: solid 4px #bbada0;
  background: rgba(238, 228, 218, 0.35);
}

.game td.tile-2 {
  background: #eee4da;
}
.game td.tile-4 {
  background: #ede0c8
}
.game td.tile-8 {
  color: #f9f6f2;
  background: #f2b179
}
.game td.tile-16 {
  color: #f9f6f2;
  background: #f59563
}
.game td.tile-32 {
  color: #f9f6f2;
  background: #f67c5f;
}
.game td.tile-64 {
  color: #f9f6f2;
  background: #f65e3b;
}
.game td.tile-128 {
  color: #f9f6f2;
  background: #edcf72;
}
.game td.tile-256 {
  color: #f9f6f2;
  background: #edcf72;
}

.score-base {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.score {
  display: inline-block;
  vertical-align: top;
  min-width: 80px;
  margin: 0 3px;
  padding: 5px 5px;
  text-align: center;
  border-radius: 3px;
  background: #bbada0;
}

.score-title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #eee4da;
}

.score-num {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,.5);
}

.gameOver {
  position: absolute;
  top: 33%;
  left: 12%;
  font-size: 19px;
  width: 300px;
  padding: 0 0 25px;
  text-align: center;
  border-radius: 3px;
  background: #eee4da;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  cursor: pointer;
  min-width: 80px;
  margin: 0 3px;
  padding: 18px 18px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  background: #bbada0;
}

.btn:hover {
  color: #eee4da;
}
